.head{
    padding: 10px 0 0 5px;
    color: #000;
}

.logo{
    display: flex;
    width:65%; 
    padding: 10px;
    justify-content: space-between;
    align-items: center;

}

.logo h2{
    font-size: 40px;
}

.logo img{
    height: 125px;
    width: 125px;
    color: #ffff;
    border-radius: 85px;
    opacity: 0.9;
    /* font-weight: 900; */
}

.head .icon{
    margin-left: 10px;
}

nav{
        background-color: rgba(170, 170, 170, 0.5);
        border-radius: 5px;
}

/*  header */

.header{
    /* background-color: rgba(255, 255, 255, 0.2); */
    margin: 0 30px;
}

.header ul{
    padding: 30px 20px;
}

.header li{
    margin-right: 40px;
}

.header ul li a{
    color: #fff;
    font-weight: 500;
    transition: 0.5s;
}

.header ul li a:hover{
    color: #80d1b3;
}

.logo-wsp{
    position: fixed;
    top: 80%;
    right: 5%;
    padding: 20px;
    border-radius: 100%;
    background-color: rgb(144, 212, 42);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-wsp i{
    font-size: 60px;
    margin-right: 10px;
    margin-top: 5px;
    background-color: rgb(144, 212, 42);
    color: #fff;
}

@media screen and (max-width:868px) {
    .logo h2{
        font-size: 25px;
        position: relative;
        margin-left: 12px;
    }

    .logo{
        width: 70%;
        /* background-color: red; */
        justify-content: space-between;
    }
        }

@media screen and (max-width:480px) {
    .logo h2{
        font-size: 20px;
    }

        }