.back{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.back h2{
    background-color: rgba(170, 170, 170, 0.5);
    font-size: 30px;
}

.back h1{
    font-size: 40px;
}
